@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import './global.scss';
@import './components/header/header.scss';
@import './components/projects/projects.scss';
@import './components/sidebar/sidbar.scss';
@import './components/projects/info/info.scss';
@import './components/projects/tips/tips.scss';
@import './components/projects/addProject/addProject.scss';
@import './components/projects/addProject/addCustomers/addCustomers.scss';

body{
  margin:0;
  font-family:$globalFont;
  font-size:16px;
  background:white;
}
