.container{
    margin-top: 1.5rem;
}

.project_main_container{
    position:absolute;
    z-index:5;
    width:calc(100vw - 300px);
}

.project_tab_group{
    display:flex;
    flex-wrap: wrap;
    margin-bottom: 0.3rem;
    @media screen and (max-width:760px){
        width:120%;
    }
}
.Project_main_container_details{
    width:100%;
    min-height:400px;
    background:white;
    .hourly_costs_checkbox{
        font-size: 1.1rem;
        float:right;
        display:flex;
        color:gray;
        justify-content: space-between;
        align-items: center;
        width:200px;
        margin-top:1rem;
        margin-right:1rem ;
        @media screen and (max-width:760px){
            float:none;
        }
        
    }
    @media screen and (max-width:760px){
        width:130%;
    }

}

.income_cost_profit_container{
    display:flex;
    justify-content:center;
    flex-direction: row;
    margin: 2rem;
    @media screen and (max-width:880px){
        flex-direction: column;
    }

}
