.menu_item {
  color: #D4D7DC;
  padding:0.8rem 1rem;
  &:hover {
    cursor: pointer;
    background:black;
  }

}

.menu_item_content {
  color: #D4D7DC;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  
}
