.menu_item {
  color: #D4D7DC;
  padding:0.8rem 1rem;
  display:block;
  position:relative;
  &:after{
    content:"";
    position:absolute;
    .sideMenu{
      display:block 
    }
  }
  &:hover {
    cursor: pointer;
    background:black;
    .sideMenu{
      display:block 
    }
  }

}

.menu_item_content {
  color: #D4D7DC;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  
}

.sideMenu{
  display:none;
  position:absolute;
  color: #D4D7DC;
  left:205px;
  top:0px;
  padding:0.8rem 1rem;
  width:180px;
  background:#393a3d;
  z-index:11;
  padding:0px;
  border-radius: 0px 10px 10px 10px;
  div{
    padding:0.8rem 1rem;
    margin:0;
    &:hover{
    background:black;
    }
  }
  div:not(:last-child){
    border-bottom:2px solid gray;
  }

  div:last-child{
    &:hover{
      border-radius: 0px 0px 10px 10px;
      }
  }

  div:first-child{
    &:hover{
      border-radius: 0px 10px 0px 0px;
      }
  }

}