.alert{
    color:red;
}

.borderalert{
    border: 1px solid red !important;
}

.add_project_container {
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 35%;
  z-index: 10;
  background: white;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 0.5rem 1.5rem;
  box-sizing: border-box;
  color: $grayColor;
  animation: expand 1s ;
  @keyframes expand {
    0% {
      opacity: 0;
      width: 0px;
    }
    100% {
      opacity: 1;
      width: 35%;
    }
  }
  .form_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
      font-weight: bold;
    }
  }

  .close_button {
    font-size: 1.5rem;
    color: lighten($grayColor, 50%);
    &:hover {
      cursor: pointer;
      color: lighten($grayColor, 30%);
    }
  }

  .new_project_form {
    width: 100%;
    margin-top: 1rem;

    label {
      margin-top: 1.5rem;
      font-size: 0.9rem;
      font-weight: bold;
      display: block;
    }
    
    input,
    select,
    textarea {
     @include standardInput
    }

    input,
    select,
    option {
      height: 2.5rem;
    }

    textarea {
      resize: vertical;
    }

    select:invalid{
        color:gray;
    }

    ::placeholder {
      color:gray;
      font-size: 0.9rem;
    }
  }


  @media screen and (max-width: 1200px) {
    width: 50%;
    animation: expand1 1.5s;
    @keyframes expand1 {
      0% {
        opacity: 0;
        width: 0px;
      }
      100% {
        opacity: 1;
        width: 50%;
      }
    }
  }

  @media screen and (max-width: 760px) {
    animation: none;
    width: 100%;
  }
}

.savebutton {
  background: $lighterGreen;
  width: 100px;
  height: 36px;
  border-radius: 36px;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  border: none;
  outline: none;
  color: white;
  &:hover {
    cursor: pointer;
    background: darkern($lighterGreen, 10%);
  }
  &:disabled {
    opacity: 0.4;
  }
}


