.all_projects{
    color:$blueColor;
    font-size:1rem;

    span{
        &:hover{
            cursor:pointer;
            text-decoration: underline;
        }
    }

    h4{
        color:$grayColor;
    }
   
}