.all_projects{
    color:$blueColor;
    font-size:1rem;
    a{
        text-decoration: none;
        color:$blueColor;
    }

    span{
        &:hover{
            cursor:pointer;
            text-decoration: underline;
        }
    }

    h4{
        color:$grayColor;
        margin:8px 0px;
    }
   
}