.info_Container{
    width:43%;
    color:$grayColor;
    margin-left:3%;
    line-height: 95%;
    h1{
        font-size:2.8rem;
        line-height: 99%;
    }
    
   .info{
       margin-left: 2rem;
   } 

   .info b::before{
        content:'\2022'; //\2022 is the css code/unicode for bullet
        color:$lighterGreen;
        font-weight:bold;
        font-size: 1.5rem;
        display:inline-block;
        width:1rem;
        margin-left:-2.5rem;
        margin-right:0.5rem;
    }

    .sub{
        margin-left:-1.7rem;
    }

    @media screen and ( max-width:1200px){
        width:70%;
    }

    @media screen and (max-width:760px ){
        width:80%;
        margin-left:1%;
        h1{
            font-size:2.2rem;
        }
    }

}

.start_project_button{
    background:white;
    color:white;
    font-size:inherit;
    font-weight: bold;
    text-align: center;
    display:flex;
    align-items: center;
    justify-content: center;
    margin:3rem 0;
    border-radius:18px;
    height:50px;
    width:160px;
    outline:medium none;
    border:medium none;
    position:relative;
    z-index:0;

    &:before{
        content:'';
        position:absolute;
        top:3px;
        right:3px;
        left:3px;
        bottom:3px;
        background:$lighterGreen;
        z-index:-1;
        border-radius: 15px;
    }
    &:hover{
        cursor: pointer;
    }
    &:focus{
        border:2px solid $lighterGreen;
    }
}

.info_link{
    color:#0077CE;
    font-weight: bold;
    &:hover{
        cursor:pointer;
        color: darken(#0077CE,10%);
    }
}