.projects_dashboard{
    position:absolute;
    top:92px;
    left:200px;
    color:black;
    padding:2rem 3rem;
    @media screen and (max-width:760px){
        left:0px;
  
    }
}

.projects_dashboard_hidden{
    position:absolute;
    top:92px;
    left:0px;
    color:black;
    padding:2rem 3rem;
}