.navbar{
    margin:0px;
    position:absolute;
    top:44px;
    left:200px;
    height:48px;
    width:calc(100vw - 200px);
    @media screen and (max-width:760px){
        left:0px;
        width:100%;

    }
}

.navbar_expand{
    margin:0px;
    position:absolute;
    top:44px;
    left:0px;
    height:48px;
    width:100%;
}